.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.link {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;

    &-text {
        opacity: 1;
        white-space: nowrap;
        transition: opacity 0.1s ease-in;
    }

    svg {
        fill: var(--inverted-primary-color);
    }
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
    margin-top: 15px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .link {
        gap: 0;
        transition: gap 0.2s ease-in;

        &-text {
            opacity: 0;
            width: 0;
        }
    }
}

.collapse-btn {
    position: absolute;
    bottom: 28px;
    right: -32px;
}
