.app.light {
  --bg-color: #ddddf0;
  --inverted-bg-color: #63636a;

  --primary-color: #1d1d5f;
  --secondary-color: #0a0a14;
  --inverted-primary-color: #a33131;
  --inverted-secondary-color: #6565ea;
}
